    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  <script src="bower_components/ng-polymer-elements/ng-polymer-elements.min.js"></script>
<script src="firebasePL.js"></script>
  <script src="angularPL.js"></script>

<paper-card image="login.png" alt="Pulse" class="flex self-center white">
	<div class="card-content">
		<paper-input label="Username" id="email" ng-model="email">
		</paper-input>
		<paper-input label="Password" id="password" type="password" ng-model="password">
		</paper-input>
	</div>
	<div class="card-actions">
		<paper-button id="quickstart-sign-in" name="signin" ng-click="functionSignIn()">Login</paper-button>
		<paper-button id="quickstart-sign-up" name="signUp" ng-click="functionSignUp()">SignUp</paper-button>
	</div>
</paper-card>