<paper-card heading="Pulse" image="donuts.png" alt="Pulse" class="flex self-center white">
	<div class="card-content">
		<paper-input label="Username" id="email" ng-model="email">
		</paper-input>
		<paper-input label="Password" id="password" type="password" ng-model="password">
		</paper-input>
	</div>
	<div class="card-actions">
		<paper-button id="quickstart-sign-in" name="signin" ng-click="functionSignIn()">Login</paper-button>
		<paper-button id="quickstart-sign-up" name="signUp" ng-click="functionSignUp()">SignUp</paper-button>
	</div>
</paper-card>