


<style>
	  body {
      margin: 0;
      font-family: 'Roboto', 'Noto', sans-serif;
      background-color: #FF9E80;
			min-height:100vh;		
    }
	
	.login_card{
		width:300px;
	}
	
	.login_card .card-actions{
		display: flex;
    justify-content: space-around;
	}
	
	.container1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100vh;
			justify-content: center;
	}		
</style>
<div class="container1">
		<paper-card image="../images/login/login.png" alt="Pulse" class="white login_card">
			<div class="card-content">
				<paper-input label="Username" id="email" ng-model="email" char-counter required auto-validate error-message="Need Username" autofocus>
				</paper-input>
				<paper-input label="Password" id="password" type="password" ng-model="password" char-counter required auto-validate error-message="Need Password">
				</paper-input>
				<paper-input label="Name" id="name" ng-model="name" ng-hide="signupFlagHide" char-counter required auto-validate error-message="Need Name">
				</paper-input>
				<input type="file" id="myFile" size="50" ng-hide="signupFlagHide"> 
			</div>
			<div class="card-actions">
				<paper-button id="quickstart-sign-in" name="signin" ng-click="functionSignIn()">Login</paper-button>
				<paper-button id="quickstart-sign-up" name="signUp" ng-click="functionSignUp()">SignUp</paper-button>
			</div>
		</paper-card>
</div>
